.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #f0e68c; }
.default-color1.chart-series-line { -fx-stroke: #dda0dd; }
.default-color2.chart-series-line { -fx-stroke: #f0e68c; }
.default-color3.chart-series-line { -fx-stroke: #dda0dd; }

.default-color0.chart-line-symbol {
    -fx-background-color: #f0e68c, white;
    -fx-padding: 2px;
    -fx-background-radius: 2px;
    /*-fx-padding: 4px 2px 4px 2px;*/
    /*-fx-shape: "M2,0 L5,4 L8,0 L10,0 L10,2 L6,5 L10,8 L10,10 L8,10 L5,6 L2,10 L0,10 L0,8 L4,5 L0,2 L0,0 Z";*/
}
.default-color1.chart-line-symbol {
    -fx-background-color: #dda0dd, white;
    -fx-padding: 2px;
    -fx-background-radius: 2px;
    /*-fx-padding: 4px 2px 4px 2px;*/
    /*-fx-shape: "M2,0 L5,4 L8,0 L10,0 L10,2 L6,5 L10,8 L10,10 L8,10 L5,6 L2,10 L0,10 L0,8 L4,5 L0,2 L0,0 Z";*/
}
.default-color2.chart-line-symbol {
    -fx-background-color: #f0e68c, white;
    -fx-padding: 2px;
    -fx-background-radius: 2px;
    /*-fx-padding: 4px 2px 4px 2px;*/
    /*-fx-shape: "M2,0 L5,4 L8,0 L10,0 L10,2 L6,5 L10,8 L10,10 L8,10 L5,6 L2,10 L0,10 L0,8 L4,5 L0,2 L0,0 Z";*/
}
.default-color3.chart-line-symbol {
    -fx-background-color: #dda0dd, white;
    -fx-padding: 2px;
    -fx-background-radius: 2px;
    /*-fx-padding: 4px 2px 4px 2px;*/
    /*-fx-shape: "M2,0 L5,4 L8,0 L10,0 L10,2 L6,5 L10,8 L10,10 L8,10 L5,6 L2,10 L0,10 L0,8 L4,5 L0,2 L0,0 Z";*/
}

.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}

.chart-legend-item-symbol{
   -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #191970;
}
